*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
signup_wrapper{
  height:100vh;
}
.signup{
  border-radius: 25px;
  max-height:90vh;
  
}
.login{
  border-radius: 25px;
  
}
.log{
  height: 90%;
}
.main_div{
  height: 100vh;
  width: 100vw; 
}
.main_div h1{
  font-size: 100px;
}
.logout_btn{
  float: right;
}
input[type = number]{
  appearance: textfield;
}
input::-webkit-inner-spin-button{
  appearance: none;
}
